<div class="container message <%= message.user == current_user ? "sent" : "received"  %>" id="message-<%= message.id %>">
<span ><%= message.user.name %></span>
<div class="row">
<div class="msg-chat col-12">
                 <div><%= message.content %></div>
                 <div class="chat-date"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></div>
               </div>
             </div>
           </div>
