<% if !current_user.trainer? %>
  <div class="container" id="select">
    <div class="container text-center border-bottom">
      <h3 id="username">Hi <%= current_user.name.capitalize! %>!</h3><h6>Where do you want to train today?</h6>
    </div>
    <div class="container text-center border-bottom my-3">
      <%= simple_form_for :search, url: trainnings_path, method: :get do |f|%>
        <div class="d-flex align-items-baseline">
          <i class="fas fa-map-marker-alt fa-2x"></i>
        <%= f.input :address, placeholder: "Address", class: "input-form", label: false %>
        <%= f.submit :search, class: "submit"%>
        </div>
      <% end %>
    </div>
    
    <div class="container">
      <div class="d-flex justify-content-between">
        <p class="weather"><%= "#{@weather["main"]["temp"]}°C" %></p>
        <%= image_tag "http://openweathermap.org/img/w/#{@weather["weather"].first["icon"]}.png", height: 75, width: 75%>
      </div>
    </div>

    <div class="container adjust-height">
      <div class="container">
        <div class="image">
          <%= image_tag "https://i.ibb.co/xJKkKCf/WO-1.png"%>
          <%#= cl_image_tag current_user.photo.key %>
        </div>
        <div class="container">
          <div class="d-flex justify-content-center">
            <div class="row">
              <div class="col-6">
                <%#= link_to :Trainnings, trainnings_path, class: "btn-profile"%>
                <%= link_to :Trainnings, categories_path, class: "btn-profile"%>
              </div>
              <div class="col-6">
                <li class="btn-profile">Edit profile</li>
              </div>
              <div class="col-6">
                <li class="btn-profile">Add Review</li>
              </div>
              <div class="col-6">
                <li class="btn-profile">Add Review</li>
              </div>
            </div>
          </div>
            <%#= link_to "Register as personal trainer!", new_user_session_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/trainerboard', profile: @profile %>
<% end  %>




