
<% if current_user.trainer == false %>

<div class="container" id="select">
  <div class="container text-center border-bottom">
    <h3 id="username">Hi <%= current_user.name.capitalize! %>!</h3><h6>Where do you want to train today?</h6>
  </div>
    <form class="form-inline">
      <%= simple_form_for :search, url: trainnings_path do |f|%>
      <%= f.input :"", class: "input-form" %>
      <%= f.submit :search, class: "submit"%>
      <% end %>
    </form>
<!-- aqui comeca geocoder -->
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


      <div class="row">
        <div class="column-12"></div>
          <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" height="200px" >
          <p> Aqui vai uma descriçao do aluno....</p>

    <div class="container adjust-height">
      <div class="container">
        <div class="user-infos"></div>
        <div class="image">
          <%#= cl_image_tag current_user.photo.key %>
        </div>
        <div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= current_user.name.capitalize! %>
					</div>
        </div>
          <ul class="list-group list-group-flush">
            <%= link_to :Trainnings, trainnings_path, class: "list-item"%>
            <li class="list-item">Edit profile</li>
            <li class="list-item">Add Review</li>
          </ul>

          <%#= link_to "Register as personal trainer!", new_user_session_path, class: "btn btn-primary" %>
      </div>
    </div>
</div>
<%else %>
<%= render 'shared/trainerboard' %>
<% end  %>


