
<% if current_user.trainer == false %>
<div class="container">
      <h4><%= current_user.name %>, where do you want to train today?</h4>
      <form class="form-inline">
        <%= simple_form_for :search, url: trainnings_path do |f|%>
        <%= f.input :text %>
        <%= f.submit %>
        <% end %>
      </form>
      <div class="row">
        <div class="column-12"></div>
          <img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" height="200px" >
          <p> Aqui vai uma descriçao do aluno....</p>
          <%#= link_to "Register as personal trainer!", new_user_session_path, class: "btn btn-primary" %>
      </div>
    </div>
<%= link_to "index", trainnings_path %>
<%else %>
<%= render 'shared/trainerboard' %>
<% end  %>


