<% if !current_user.trainer? %>
  <div class="container" id="select">
    <div class="container text-center border-bottom">
      <h3 id="username">Hi <%= current_user.name %>!</h3><h5>Where do you want to train today?</h5>
    </div>

    <div class="container text-center border-bottom my-3">
      <%= simple_form_for :search, url: trainnings_path, method: :get do |f|%>
        <div class="d-flex align-items-baseline">
          <i class="fas fa-map-marker-alt fa-2x"></i>
        <%= f.input :address, placeholder: "Address", class: "input-form", label: false %>
        <%= f.submit :Search, class: "submit"%>
        </div>
      <% end %>
    </div>
    <div class="container border-bottom my-3 ">
      <div class="d-flex justify-content-between">
        <p class="weather"><%= "#{@weather["main"]["temp"]}°C" %></p>
        <i class="weather-icon wi wi-day-<%= @weather_class %>"></i>
      </div>
    </div>
    <div class="container mt-5">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="image">
            <%= image_tag "https://i.ibb.co/xJKkKCf/WO-1.png"%>
            <%#= cl_image_tag current_user.photo.key %>
          </div>
        </div>
        <div class="container">
          <div class="d-flex justify-content-center">
            <div class="row">
              <div class="col-12">
                <div class="container border-bottom my-2 p-3">
                  <h5>Let´s get moving?</h5>
                <%#= link_to :Trainnings, trainnings_path, class: "btn-profile"%>
                <%= link_to :Trainings, categories_path, class: "btn-profile-dashboard"%>
              </div>
              </div>

              <div class="col-12">
                <div class="container border-bottom my-2 p-3 ">
                <h5> Rate your experience:</h5>
                <%= link_to "My Bookings", orders_path, class: "btn-profile-dashboard"%>
              </div>
              </div>


            </div>
          </div>
            <%#= link_to "Register as personal trainer!", new_user_session_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% else %>

  <%= render 'shared/trainerboard', profile: @profile, orders_count: @orders_count %>
<% end  %>




