<div class="container" id="select">
  <h3>Tell us more about yourself:</h3>

  <ul class="list-group">
    <%= simple_form_for @profile do |f| %>
      <%= f.input :user_id, as: :hidden %>
      <li class="list-group-item"><%= f.input :speciality %></li>
      <li class="list-group-item"><%= f.input :bio %></li>
      <li class="list-group-item"><%= f.input :age %></li>
      <li class="list-group-item"><%= f.input :certifications %></li>
      <li class="list-group-item"><%= f.input :achievments %></li>
      <li class="list-group-item"><%= f.input :photo, as: :file %></li>
      <%= f.submit 'Submit Profile', class: 'btn btn-info btn-block' %>
    <% end %>
  </ul>
</div>
