


<div class="container" id="select">
    <%= cl_image_tag @profile.photo.key, height:300, width:355, crop: :fill, class: "profile-img" %>
      <div class="container stars">
        <%= image_tag ("health.png")%><%= image_tag ("health.png")%><%= image_tag ("health.png")%><%= image_tag ("health.png")%><%= image_tag ("health.png")%>
        </div>
      <ul class="list-group">

        <li class="list-group-item"><i class="fas fa-user-check"></i><%=" "%><%= @profile.user.name %></li>
        <li class="list-group-item"><i class="fas fa-address-card"></i><%=" "%><%= @profile.bio %></li>
        <li class="list-group-item"><%= image_tag ("age.png")%><%=" "%><%= @profile.age  %></li>
        <li class="list-group-item"><i class="fas fa-trophy"></i><%=" "%><%=@profile.achievments %></li>
        <li class="list-group-item"><%= image_tag ("patent.png")%><%=" "%><%= @profile.certifications  %></li>
      </ul>
</div>

