<div class="row">
  <div class="col-4">
    <h3><%= @chatroom.trainer.name %></h3>
  </div>
   <div class="col-4">  
    <h3><%= @chatroom.user.name %></h3>
  </div>
  <div class="col-4">  
    <h5><%= "Chatroom: #{@chatroom.id}"%></h5>
  </div>
  <div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <div class="container message <%= message.user == current_user ? "sent" : "received"  %>" id="message-<%= message.id %>">
              <span ><%= message.user.name %></span>
       
          <div class="row">
            <div class="msg-chat col-12">
              <div><%= message.content %></div>
              <div class="chat-date"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div>
    <div class="container fixed-bottom">
      <div class="row">
        <div class="col-9">
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, input_html: { class: 'message-input' } ,  placeholder: "Talk to your buddy!" %>
        </div>
        <div class="col-3">
            <%= f.submit :Send, class: "btn btn-sm btn-info"%>
        </div>
          <% end %>
      </div>
    </div>
</div>
