<h1>#<%= @chatroom.trainer.email %></h1>
<h1>#<%= @chatroom.user.email %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.id}" %>
  <%= f.submit %>
<% end %>

<!-- tutorial -->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="messages">
        <%# @chatroom.messages.each do |message| %>
          <%#= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <%# end %>
      </div>
      <div id="create-message">
        <%#= simple_form_for[ @chatroom, Message.new ], remote: true do |f| %>
          <%#= f.imput :content, label: false %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
<%# content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chatroom_<%= @chatroom.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chatroom_id: <%#= @chatroom.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%#= current_user.id %>) {
        const messagesContainer = document.querySelector('.messages');
        messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
        scrollLastMessageIntoView();
        }
      }
    })
  </script>
<%# end %>
 -->
