<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= cl_image_tag @order.trainning.user.profile.photo.key, class: "avatar avata-large" %></div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>TRAINNING: </strong> <%= @order.trainning.description %></li>
        <li>TOTAL <%= @order.amount/100 %> $</li>
      </ul>
      <p>You will recieve an e-mail with your <strong>trainning details soon!</strong></p>
    </div>
  </div>
</div>
