<div class="card-trainning">
  <div class="d-flex justify-content-center p-1 border-bottom ">
    <%# if trainning.user.profile.photo.attached?  %>
      <%#= cl_image_tag trainning.user.profile.photo.key, class: "avatar avata-large" %>
    <%# else %>
      <div class="image">
        <%= image_tag "https://i.ibb.co/xJKkKCf/WO-1.png"%>
      </div>
    <%# end %>
  </div>
    <div class="card-body">
      <p class="card-title" id="title-size"><%= trainning.user.name.capitalize! %></p>
      <p class="card-title" id="title-size"><%= trainning.category.name.capitalize! %></p>
      <p class="card-title" id="title-size"><%= trainning.duration %></p>
        <!--<p class="card-title">" <%#= trainning.description %> "</p>-->
    </div>
        <div>
          <%= link_to "view details", trainning_path(trainning), class: "btn details  " %>
        </div>
  </div>

