<h3>Change de you trainning´s info:</h3>

<ul class="list-group">
  <%= simple_form_for @trainning do |form| %>
    <li class="list-group-item"><%= form.input :category, collection: Category.all %></li>
    <li class="list-group-item"><%= form.input :description %></li>
    <li class="list-group-item"><%= form.input :duration %></li>
    <li class="list-group-item"><%= form.input :address %></li>
    <%= form.submit class: 'btn btn-info btn-block' %>
  <% end %>
</ul>

<%#= render 'form', trainning: @trainning[:id] %>

<%#= link_to 'Show', @product %> |
<%#= link_to 'Back', products_path %>
