 <div class="container">
  <h3>Search by Category:</h3>
  <div class="row">
    <div class=" col-6">
      <div class="trainning-card">
        <%= image_tag "https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt: "Le Wagon", height: 100%>
        <p>Abdominals</p>
      </div>
    </div>
    <div class=" col-6">
      <div class="trainning-card">
        <%= image_tag "https://images.unsplash.com/photo-1540539234-c14a20fb7c7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt: "Le Wagon", height: 100%>
        <p>Running</p>
      </div>
    </div>
    <div class=" col-6">
      <div class="trainning-card">
        <%= image_tag "https://images.unsplash.com/photo-1583454122781-8cf8f5af9d2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80", alt: "Le Wagon", height: 100%>
        <p>Strenght</p>
      </div>
    </div>
  </div>
</div>
<%#= link_to "view details", trainning_path(trainning), class: "btn btn-primary" %>

<p>.........................................................................................................</p>
  <h3>See all trainnings available in your zone:</h3>


<div class="row">
  <% @trainnings.each do |trainning| %>
    <div class="col-12">
      <div class="card" style="width: 15rem;">
        <div class="d-flex justify-content-center p-1 border-bottom ">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
         <div class="d-flex text-center p-1">
          <div class="card-body">
            <p class="card-title"><%= trainning.user.name %></p>
            <p class="card-title"><%= trainning.category.name %></p>
            <p class="card-title"><%= trainning.duration %></p>
            <p class="card-title">" <%= trainning.description %> "</p>
            <%= link_to "view deatils", trainning_path(trainning), class: "btn btn-primary btn-sm" %>
          </div>

        </div>

      </div>
    </div>
  <% end %>
</div>




