 <div class="container">
  <div class="row">
    <div class=" col-6">
      <div class="trainning-card">
        <%= image_tag "https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt: "Le Wagon", height: 100%>
        <p>Abdominals</p>
      </div>
    </div>
    <div class=" col-6">
      <div class="trainning-card">
        <%= image_tag "https://images.unsplash.com/photo-1540539234-c14a20fb7c7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt: "Le Wagon", height: 100%>
        <p>Running</p>
      </div>
    </div>
    <div class=" col-6">
      <div class="trainning-card">
        <%= image_tag "https://images.unsplash.com/photo-1583454122781-8cf8f5af9d2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80", alt: "Le Wagon", height: 100%>
        <p>Strenght</p>
      </div>
    </div>
  </div>
</div>
<%= link_to "view details", trainning_path(trainning), class: "btn btn-primary" %>




  <h3>*****INDEX OF TRAINNINGS******</h3>
<div class="d-flex justify-content-center p-3">
  <div class="row">
    <% @trainnings.each do |trainning| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
            <h2>Coach: <%= trainning.user.name %></h2>
              <p><%= trainning.description %></p>
            </div>
              <h2 class="card-trip-pricing"><%= trainning.category.name %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
          <%= link_to "view deatils", trainning_path(trainning), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
