<h1>Create a new trainning</h1>

<ul class="list-group">
        <%= simple_form_for @trainning do |f| %>
        <li class="list-group-item"><%= f.input :address %></li>
        <li class="list-group-item"><%= f.input :duration %></li>
        <li class="list-group-item"><%= f.input :description %></li>
        <li class="list-group-item"><%= f.input :category %></li>


        <%= f.submit class: 'btn btn-info' %>
        <% end %>
      </ul>
