<div class="container adjust-height" id="select">
  <h3>Design you Training Session:</h3>

   <div class="container">
    <%= simple_form_for @trainning do |form| %>
      <%= form.input :category, collection: Category.all %>
      <%= form.input :description %>
      <%= form.input :duration %>
      <%= form.input :price_cents %>
      <%= form.input :address %>

      <%= form.submit class: 'btn btn-info btn-block' %>
    <% end %>
  </div>

</div>
