<div class="container" id="select">
  <div class="container text-center border-bottom">
    <h3>Trainning's details:</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-trainning-detail">
        <div class="d-flex justify-content-center p-1 border-bottom ">
          <img class="avatar-large" alt="avatar-large" src="https://avatars3.githubusercontent.com/u/67508360?s=460&v=4" />
        </div>
         <div class="d-flex text-center">
          <div class="card-body">
            <p class="card-title"><%= @trainning.user.name %></p>
            <p class="card-title"><%= @trainning.category.name %></p>
            <p class="card-title"><%= @trainning.duration %></p>
            <p class="card-title">" <%= @trainning.description %> "</p>
            <div class="container">
              <%= link_to "Book Now", checkout_path(trainning_id: @trainning.id), class: "btn btn-danger btn-sm" %>
              <%= link_to "View All", trainnings_path(@trainning), class: "btn btn-primary btn-sm" %>
              <% if @trainning.user.profile %>
                <%= link_to "Trainers Profile ", profile_path(@trainning.user.profile), class: "btn btn-success btn-sm btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


