<div class="container" id="select">

<div class="d-flex justify-content-center border-bottom">
<h3><%= current_user.name %>'s trainnings:</h3>
</div>
      <div class="row">
      <% @trainnings.each do |trainning| %>
        <div class="col-6">
          <div class="card-trainning">
      <div class="d-flex justify-content-center p-1 border-bottom ">

        <% if trainning.user.profile && trainning.user.profile.photo.attached?  %>
          <%= cl_image_tag trainning.user.profile.photo.key, class: "avatar avata-large" %>
        <% else %>
          <div class="image">
            <%= image_tag "https://i.ibb.co/w7XyQQ5/WOxxx.png"%>
          </div>
        <% end %>
      </div>
        <div class="card-body">
          <p class="card-title" id="title-size"><%= trainning.user.name %></p>
          <p class="card-title" id="title-size"><%= trainning.category.name %></p>
          <p class="card-title" id="title-size"><%= trainning.duration %></p>
            <!--<p class="card-title">" <%#= trainning.description %> "</p>-->
        </div>
            <div>
              <%= link_to "view details", trainer_show_path(trainning), class: "btn details  " %>
            </div>
      </div>

          <%#= render "trainnings/cards", trainning: trainning %>

        </div>
      <% end %>
    </div>
  </div>
</div>
