<!-- <header>
<h1 class=”display-4">
<%= @place.title %>
</h1>
</header> -->
<p>Name: <%=@place.name%></p>
<p>Address: <%= @place.address %></p>
<p>Coordinates: <%= @place.latitude %>
<%= @place.longitude %></p>

<!-- Nao quero uma imagem estática, o user pode navegar, dar zoom, etc -->
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@place.longitude}" %>

<h3>Nearby locations</h3>
<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>
